@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply !overflow-x-hidden scroll-pt-7 scroll-smooth;
  }
  body {
    @apply font-onest font-normal bg-white dark:bg-darkbgcolor;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply dark:text-darktextdipcolor;
  }
}

@layer components {
  .text-active {
    @apply !font-bold text-textblackcolor dark:text-darktextdipcolor ;
  }
  .text-active::before{
    @apply content-[''] absolute h-[3px] w-full bg-textblackcolor dark:bg-darktextdipcolor  -bottom-8 ;
  }
}

@layer utilities {
  .btn-border {
    border: 1px solid #e4e4e7;
  }
  .close-shadow {
    box-shadow: 0px 4px 48px 0px #0000000f;
  }
  .header-border{
    border-bottom:  1px solid #E4E4E7;
  }
  /* @media (max-width: 375px) {
    html{
      font-size: 50%;
    }
  }
  */
}
